.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
  .featured__text {
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 64px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    color: #222;
  }
  @media (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (min-width: 1600px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.featured-items {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;

  .futured-items__card {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .featured-items__item {
    background: #f8f8f8;
  }

  img {
    width: 100%;
    display: block;
  }

  .featured-items__wrap {
    position: relative;
    @media (max-width: 640px) {
      :last-child {
        display: none;
      }
    }
  }

  .featured-items__item:hover .futured-items__card {
    display: flex;
  }

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 16px;
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .featured-items__data {
    padding: 23px 16px 20px;
  }
  .featured-items__name {
    font-size: 13px;
    line-height: 16px;
    color: #000;
  }
  .featured-items__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;
    color: rgba(93, 93, 93, 1);
  }
  .featured-items__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--orange-color);
  }
}

.futured-items__card {
  button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
    img {
      width: 26px;
      height: 24px;
      margin-right: 11px;
    }
  }
}

.featured-items__button {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

.featured-items__button:hover {
  color: white;
  background: #ff6a6a;
}
