.cart {
  margin-top: 39px;

  @media (min-width: 375px) {
    padding: 0 9px;
  }

  @media (min-width: 768px) {
    padding: 0 17px;
  }

  @media (min-width: 1600px) {
    display: flex;
    justify-content: space-between;
  }

  .cart-left {
    margin-bottom: 30px;
    .cart-left__button {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @media (min-width: 768px) and (max-width: 1599px) {
        justify-content: center;
      }

      button {
        width: 175px;
        height: 33px;
        background: white;
        border: 1px solid #a4a4a4;
        font-size: 12px;
        line-height: 14px;
        font-family: inherit;
        columns: #575757;
        @media (min-width: 768px) and (max-width: 1599px) {
          justify-content: center;
          margin-left: 48px;
        }
        @media (min-width: 768px) {
          height: 50px;
          width: 225px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
  .cart-left__unit {
    background: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    position: relative;
    &::before {
      color: black;
      width: 10px;
      height: 11px;
      content: "";
      display: block;
      position: absolute;
      right: 12px;
      top: 17px;
      background: url(../img/close-cart.svg);
      background-repeat: no-repeat;
      background-size: contain;
      @media (min-width: 768px) {
        width: 18px;
        height: 18px;
      }
    }

    &:not(:first-child) {
      margin-top: 32px;
      @media (min-width: 1600px) {
        margin-top: 40px;
      }
    }

    .cart-left__unit-inside {
      display: flex;
      @media (min-width: 1600px) {
        width: 652px;
      }
    }
  }

  .cart-left__unit-img {
    width: 143px;
    height: 188px;
    @media (min-width: 768px) {
      width: 262px;
      height: 306px;
    }
  }

  .cart-left__unit-descr {
    margin: 13px 17px;

    .cart-left__unit-title {
      font-size: 16px;
      line-height: 19px;
      color: #222;
      margin-bottom: 25px;
      width: 135px;

      @media (max-width: 374px) {
        padding-right: 20px;
      }

      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 60px;
        width: 211px;
      }
    }
    .cart-left__unit-price span {
      color: var(--orange-color);
      margin-left: 3px;
    }

    .cart-left__unit-quantity,
    .cart-left__unit-size,
    .cart-left__unit-color,
    .cart-left__unit-price {
      font-size: 14px;
      line-height: 17px;
      color: #575757;

      @media (min-width: 768px) {
        font-size: 22px;
        line-height: 26px;
      }
    }
    .cart-left__unit-quantity,
    .cart-left__unit-size,
    .cart-left__unit-color {
      margin-top: 4px;

      @media (min-width: 768px) {
        margin-top: 6px;
      }
    }
  }
  .cart-left__unit-quantity input {
    width: 24px;
    height: 15px;
    border: 1px solid #eaeaea;
    margin-left: 25px;
    text-align: center;
    color: #656565;

    @media (min-width: 768px) {
      width: 44px;
      height: 25px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .cart-right {
    @media (min-width: 1600px) {
      width: 360px;
    }

    @media (min-width: 768px) and (max-width: 1599px) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 374px) {
      padding: 0 9px;
    }
    .cart-right__header {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222;
    }
    .cart-right__form {
      @media (max-width: 1599px) {
        margin-top: 20px;
      }
      @media (min-width: 768px) and (max-width: 1599px) {
        width: 360px;
        margin-right: 15px;
        flex-grow: 1;
      }
      input {
        display: block;
        height: 45px;
        padding: 13px 17px;
        font-weight: 300;
        font-family: inherit;
        font-size: 13px;
        line-height: 16px;
        color: #b1b1b1;
        box-sizing: border-box;
        border: 1px solid #a4a4a4;
        width: 100%;
        @media (max-width: 767px) {
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
    .cart-right__button {
      margin-top: 23px;
      border: 1px solid #a4a4a4;
      font-family: inherit;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #575757;
      width: 101px;
      height: 35px;
      background: white;
    }
  }

  .cart-total {
    background: #f5f3f3;
    height: 214px;
    margin-bottom: 96px;
    padding: 39px 43px 42px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      margin-top: 48px;
      margin-bottom: 120px;
    }

    @media (min-width: 768px) {
      margin-top: 58px;
    }

    .cart-total__grand,
    .cart-total__sub {
      text-align: right;
    }
    .cart-total__sub {
      font-size: 11px;
      line-height: 13px;
      color: #a4a4a4;
      span {
        margin-left: 20px;
      }
    }
    .cart-total__grand {
      margin-top: 12px;
      margin-bottom: 21px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222;
      span {
        margin-left: 8px;
        font-weight: bold;
        color: var(--orange-color);
      }
    }
    hr {
      margin-top: 0;
      margin-bottom: 17px;
      background: #e2e2e2;
      height: 1px;
      border: none;
    }
    .cart-total__button {
      background: var(--orange-color);
      display: block;
      width: 100%;
      border: none;
      height: 50px;
      font-family: inherit;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      @media (min-width: 375px) {
        width: 273px;
      }
    }
  }
}
